.highlighted-text {
    color: red;
}

.active-highlighted-text {
    color: blue;
}

.hide-annotations-button {
    margin-bottom: 1vh;
}

#Popover1{
    display: none;
}

.popover-modal{
    width: 10px;
    margin-left: 100px;
}