.dashboard-wrapper{
    margin-top: -3em;
}

.recent-lessons-accordion:before{
    content: "\25b2\25bc";  
    float: right;     
    color: grey;     
}


.dashboard-accordions {
    padding-left: 10%;
    padding-top: 2%;
}

.lesson-container {
    display: flex;
    overflow-x: scroll;
}

.class-accordion:before{
    content: "\25b2\25bc";  
    float: right;     
    color: grey;       
}

.student-accordion:before{
    content: "\25b2\25bc";  
    float: right;     
    color: grey;       
}